@if (gameStateService.view() === 'main-menu') {
  <app-main-menu></app-main-menu>
}

@if (gameStateService.view() === 'options') {
  <app-options-menu></app-options-menu>
}

@if (gameStateService.view() === 'game') {
  <div class="app-layout">
    <app-background-grid [opacity]="0.5"></app-background-grid>
    <app-notification-container></app-notification-container>
    <!-- <app-debug-controls></app-debug-controls> -->
    <app-first-run-tutorial-overlay></app-first-run-tutorial-overlay>

    <div class="app-body">
      <app-panel-frame class="frame-sidebar">
        <app-resources-header></app-resources-header>
      </app-panel-frame>

      <div class="column-center">
        <app-panel-frame-h class="frame-stats">
          <app-statistics-panel></app-statistics-panel>
        </app-panel-frame-h>

        <div class="machines-scroll-area">
          <app-machine-list></app-machine-list>
        </div>
      </div>

      <div class="column-right" [class.hidden]="isPanelMinimized">
        <app-panel-frame class="frame-upgrades">
          <app-upgrades-panel (minimizedChange)="onPanelMinimizedChange($event)"></app-upgrades-panel>
        </app-panel-frame>
      </div>
    </div>
  </div>
}
