.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #181818;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.column-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 380px;
}

.machines-scroll-area {
  flex: 1;
  overflow-y: auto;
}

.column-right {
  overflow-y: auto;
  position: relative;
  transition: width 0.3s ease;
}

.column-right:not(.hidden) {
  width: 430px;
}

.column-right.hidden {
  width: 60px;
  overflow: hidden;
}
