<div class="resources-panel">
  <div class="resources-list">
    @for (resource of resources(); track resource.id) {
      <div class="resource-item">
        @if (resource.icon.startsWith('assets')) {
          <img [src]="resource.icon" class="resource-icon" [alt]="resource.name" />
        } @else {
          <div class="resource-icon">{{ resource.icon }}</div>
        }
        <span class="resource-name">{{ resource.name }}</span>
        <span class="resource-amount">{{ resource.amount }}</span>
      </div>
    }
  </div>
</div>
